*{
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

:root{
    --borderRaid: 5px;
    --headerBackground:  rgb(76, 79, 88);
}

main{
    align-items: center;
    background-color: rgb(242, 250, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
}

header{
    border-bottom: 2px solid lightslategray;
    background-color: var(--headerBackground);
    color: whitesmoke;
    padding: 15px 0 20px 0;
    text-align: center;
    width: 100%;
}

#cardWrap{
    display: flex;
    top: 10%;
}

.cardColumn{
    align-items: center;
    background-color:mintcream;
    border: 2px solid black;
    border-radius: var(--borderRaid);
    box-shadow: 4px 4px 5px rgba(119, 136, 153, 0.493);
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    /* padding: 10px; */
}

.cardHeader{
    background-color: var(--headerBackground);
    border-bottom: 2px solid lightslategray;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding:10px;
    /* justify-items: center; */
}

.name{
    /* border-bottom: 2px solid lightgray; */
    /* border-radius: var(--borderRaid); */
    padding: 10px 10px 10px 0;
    /* margin: 10px 0; */
}

.cardColumn p{
    margin-bottom: 10px;
}

.id{
    margin-top: 10px
}

.cardInfo{
    border-bottom: 2px solid lightgray;
}